.content{
    height: 1800px;
    /* margin-top: 80px; */
}

.content .pdf{
    margin-left: 30px;
}

.content .pdf h1{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}
.content .pdf a{
    margin-left: 200px;
}

.content .pdf p{
    margin-left: 200px;
    font-size: 20px;
    font-weight: bold;
}

.content .pdf2 h1{
    text-align: center;
}

.content .pdf2 a{
    margin-left: 450px;
}
